.main{
    padding-top: 150px;
    display: flex;
    padding-bottom: 150px;
}
.block__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img{
    margin-right: 15px;
    max-height: 407px;
}
.sub__title{
    font-family: 'Bruno Ace SC', cursive;
    font-size: 35px;
    margin: 0 auto;
}
.text{
    font-size: 19px;
    font-family: 'Lobster', cursive;
    text-align: center;
}