.contact{
    position: relative;
}
.modal{
    margin-top: 100px;
    display: flex;
    padding-bottom: 100px;
}

.text{
    font-family: 'Lobster', cursive;
    font-size: 17px;
}
.modal__inner{
    margin-left: 50px;
    padding: 20px;
}